$base-color : #0074BC;
$light-color : #81DCFA;
$sidebar-color: #22A7F0;
$sub-color : #FF91A8;
$white : #F6F5F2;
$pure-white : #FFFFFF;
$black : #2C3E4F;
$gley-1 : #888;
$gley-2 : #eee;
$shadow : #888888;

$facebook-color : #3B5998;




//progerss ber

$primary : #7ceece;
$warning : #ffda0c;
$danger  : #fc575e;




