$base-color : #FF9B58;
$sidebar-color: #FFC258;
$sub-color : #FC577A;
$light-color : #FFF8F3;
$emphasis: #FE5767;
$white : #FFFEFE;
$pure-white : #FFFFFF;
$black : #191919;
$gley-1 : #888;
$gley-2 : #EEEEEE;
$shadow : #888888;

//progress bar

$primary : #7ceece;
$warning : #ffda0c;
$danger  : #fc575e;




