$base-color : #FF7619; /*FF9B58*/
$light-color : #FFAB19; /*FFC258*/
$sidebar-color: $light-color;
$sub-color : #FC577A;
$emphasis: #FE5767;
$background-color : #FFF7F2; /*FFF8F3*/
$white : #FFFEFE;
$pure-white : #FFFEFE;
$black : #3D1D08;
$gley-1 : #888;
$gley-2 : #EEEEEE;
$shadow : #888888;

$completed-color : #E9E9E9;

//progress bar

$primary : #7ceece;
$warning : #ffda0c;
$danger  : #fc575e;




