$nav-button-fs: 32px;

$header-fs: 32px;

$login-header-ice-fs: 14px;

$sidebar-ul-fs: 18px;


$task-row-title-fs: 26px;
$task-row-title-fs-m: 16px;

$task-row-deadline-fs: 16px;
$task-row-deadline-fs-m: 12px;
