// media
$breakpoint-middle: 1400px;
$breakpoint-small: 1200px; // 差 200
$breakpoint-tablet: 960px; // 差 240
$breakpoint-mobile: 640px; // 差 320

// sidebar が min の時要のbreakpoint
$breakpoint-content-margin-left-min: 100 * $sidebar-width-min / $sidebar-width;
