// media
$breakpoint-middle: 1400px;
$breakpoint-tablet: 960px;
$breakpoint-mobile: 640px;

// circle
$circle-radius: 100px;

// content

$mobile-content-margin-bottom: 40px;

// sidebar
$sidebar-width : 480px;
$sidebar-width-tablet : 240px;
$sidebar-width-middle : 240px;
$sidebar-width-lg-middle : 400px;
$sidebar-padding: 40px;

$sidebar-content-col-wd: 300px;

$sidebar-badge-mr: 10px;
$sidebar-badge-ptb: 6px;
$sidebar-badge-plr: 10px;
$sidebar-badge-radius: 20px;
$sidebar-badge-height: 24px;
$sidebar-badge-mt: 6px;

// right-side
$right-side-width: 28%;
$right-side-width-md: 28%;

// header
$header-height : 40px;



// task-row
$task-row-width: 500px;
$task-row-height: 150px;
$task-row-w-t: 400px;
$task-row-w-m: 300px;
$task-row-h-m: 100px;
$task-row-mb: 16px;
$task-info-width: $task-row-width - 20;
$task-padding: 20px;

$task-done-size: 20px;
$task-done-close-rate: 2;
$task-done-size-m: 16px;
$task-done-close-rate: 2;

$task-row-content: 48px;


// button

$ice-button-border: 2px;
$ice-button-padding: 10px;
$ice-button-font-size: 20px;

$done-button-area: $task-row-content;
$done-button-size: 24px;
$done-button-margin: ($done-button-area - $done-button-size) / 2 ;



// new-button-sp

$new-button-sp-size: 40px;
$new-button-sp-line-hight: 50px;

$new-button-sp-right: 20px;
$new-button-sp-bottom: 20px;

// nav-button
$nav-button-margin-right: 10px;



