// sidebar
$sidebar-width : 480px;
$sidebar-width-middle : 240px;
$sidebar-padding: 40px;

// header
$header-height : 40px;




// button

$ice-button-border: 2px;
$ice-button-padding: 10px;
$ice-button-font-size: 18px;


