@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
@import "settings/mixins/_position.scss";
.container-fluid-login{
  padding-left: 0px;
  padding-right: 0px;
  .login-top{
    padding-top: $header-height;
    .main-content{
      background-color: $base-color;
      height: 480px;
      position: relative;
      .comment{
        color: #fff;
        top: 140px;
        p{
          font-size: 18px;
        }
      }
      .actions{
        @include lower_gripping(10px);
      }
      img.mac-iPhone{
        padding-top: 80px;
        height: 480px;
      }
    }
    .sub-content{
      height: 400px;
      position: relative;
      .comment{
        top: 120px;
        h1{
          color: $black;
          font-size: 28px;
        }
        p{
          color: $gley-1;
          font-size: 18px;
        }
      }
      img{
        max-width: 100%;
        padding: 20px;
        padding-top: 40px;
      }
    }
    .sub-content-white{
      background-color: $white;
    }
    .sub-content-grey{
      background-color: $gley-2;
    }
  }
}
