@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
@import "settings/mixins/_position.scss";
@import "settings/mixins/_form.scss";
.container-fluid-login{
  padding-left: 0px;
  padding-right: 0px;
  .login-top{
    padding-top: $header-height;
    .main-content{
      background: image-url("background3.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      // background-color: $base-color;
      height: 480px;
      position: relative;
      .main-content-colorcover{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($base-color, 0.8);
        // background-color: rgba(44, 62, 79, 0.8);
        // background-color: rgba(255, 145, 168, 0.8);
        // background-color: rgba(129, 220, 250, 0.8);
      }
      .comment{
        color: $white;
        top: 140px;
        text-align: center;
        h1{
          font-size: 64px;
        }
        p{
          font-size: 18px;
        }
      }
      .actions{
        @include lower_gripping(40px);
        height: 40px;
        .button-group{
          @include center_beside_block();
          width: 300px;
        }
      }
      .main-content-image-cell{
        height: 100%;
        position: relative;
        img.mac-iPhone{
          @include lower_gripping;
          max-height: 80%;
          width: 100%;
        }
      }
    }
    .sub-content{
      height: 400px;
      position: relative;
      .comment{
        top: 120px;
        h1{
          color: $black;
          font-size: 28px;
        }
        p{
          color: $gley-1;
          font-size: 18px;
        }
      }
      .sub-content-image-cell{
        position: relative;
        height: 100%;
        img{
          @include center_block;
          max-height: 80%;
          max-width: 95%;
        }
      }
      .start-now{
        position: relative;
        height: 100%;
        @include center_block();
        width: 300px;
        height: 100px;
      }
    }
    .sub-content-white{
      background-color: $white;
    }
    .sub-content-gley{
      background-color: $gley-2;
    }


    .sign-up-main{
      position: relative;
      height: 480px;
      .sign-up-form{
        @include center_block;
        height: 80%;
        .form-row{
          margin: 0px;
          height: 64px;
          border: 1px solid $gley-1;
          border-top: 0px;
          border-radius: 0px;
          background-color: #fff;
          position: relative;
          i.fa{
            width: 10%;
            margin: 10px 0;
          }
          input:-webkit-autofill {
              -webkit-box-shadow: 0 0 0px 1000px #fff inset;
          }
          input{
            @include none_outline;
            position: absolute;
            border: 0px;
            background-color: transparent;
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 90%;
          }
        }
        .form-action{
          margin: 0px;
          height: 64px;
          border: 1px solid $gley-1;
          border-top: 0px;
          border-radius: 0px;
          background-color: #fff;
          position: relative;
          input{
            @include center_block;
            width: 70%;
            height: 70%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .container-fluid-login{
    .login-top{
      .main-content{
        top: -20px;
      }
      .sub-content{
        height: 400px;
        width: 100%;
        margin: 0;
        .comment{
          top: 120px;
          h1{
            color: $black;
            font-size: 1.2em;
          }
          p{
            color: $gley-1;
            font-size: 1em;
          }
        }
        .sub-content-image-cell{
          height: 100%;
          img{
            @include center_block;
            max-height: 80%;
            max-width: 95%;
          }
        }
        .start-now{
          height: 100%;
          @include center_block();
          width: 300px;
          height: 100px;
        }
      }
    }
  }
}
