h2.title
  = @filter[:title]
ul.list-group#tasks-list
  == render @tasks
/#new-task
/= link_to new_task_path, class: "new-button", remote: true do
/  i.fa.fa-plus-square.fa-3x.new-button

== render "undo_modal"
