@import "settings/variables/_color.scss";
.title{
  font-family: 'Kaushan Script', cursive;
}
.base-color{
  color: $base-color
}


.bg-white{
  background-color: $white;
}
.height-100p{
  height: 100%;
}
