@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";

.completed-task-row{
  width: $task-row-width;
  height: $task-row-height;
  margin-bottom: $task-row-mb;
  background-color: $completed-color;
  box-shadow: 8px 8px 10px rgba($black,0.4);
  position: relative;
  transition: 0.4s;
  .task-return{
    top: 0;
    left: 0;
    height: $task-done-size * 2;
    width: $task-done-size * 4;
    .task-return-view {
      position: absolute;
      top: 0;
      left: 0;
      height: $task-done-size * 2;
      width: $task-done-size * 4;
      line-height: $task-done-size * 2;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;
      opacity: 0;
      transition: 0.4s;
    }
    @include max-screen($breakpoint-mobile){
      height: $task-done-size-m * 2;
      width: $task-done-size-m * 2;
      .task-done-view {
        border: $task-done-size-m/$task-done-close-rate solid;
        border-color: $gley-2 $white $white $gley-2;
      }
    }
  }
  &:hover{
    background-color: $pure-white;
    transition: 0.5s;
    .task-return-view {
        opacity: 1;
        transition: 0.5s;
    }
  }
  .task-info{
    @include center_beside_block();
    width: $task-row-width - $task-padding;
    padding-left: 20px;
    @include inline_center(50px);
    .task-name{
      font-size: $task-row-title-fs;
      color: $black;
    }
    @include max-screen($breakpoint-tablet){
      width: $task-row-w-t - $task-padding;
      input{
        width: 100%;
      }
    }
    @include max-screen($breakpoint-mobile){
      width: $task-row-w-m - $task-padding;
      padding-left: 20px;
      @include inline_center(20px);
      .task-name{
        font-size: $task-row-title-fs-m;
      }
    }
  }

  .deadline_at{
    @include center_beside_block();
    @include lower_gripping(18px);
    width: $task-row-width - $task-padding;
    @include inline_center(32px);
    font-size: $task-row-deadline-fs;
    text-align: right;
    color: $black;
    @include max-screen($breakpoint-tablet){
      width: $task-row-w-t - $task-padding;
    }
    @include max-screen($breakpoint-mobile){
      @include lower_gripping(18px);
      width: $task-row-w-m - $task-padding;
      @include inline_center(16px);
      font-size: $task-row-deadline-fs-m;
    }
  }
  .progress{
    @include lower_gripping(10px);
    @include center_beside_block();
    height: 8px;
    width: $task-row-width - $task-padding;
    @include none_border;
    .progress-bar{
      @include none_border;
    }
    @include max-screen($breakpoint-tablet){
      width: $task-row-w-t - $task-padding;
    }
    @include max-screen($breakpoint-mobile){
      width: $task-row-w-m - $task-padding;
    }
  }
  @include max-screen($breakpoint-tablet){
    width: $task-row-w-t;
  }
  @include max-screen($breakpoint-mobile){
    width: $task-row-w-m;
    height: $task-row-h-m;
  }
}

.progress-bar-primary {
  background-color: $primary;
}
.progress-bar-danger {
  background-color: $danger;
}
.progress-bar-warning {
  background-color: $warning;
}
