@import "settings/variables/_position.scss";
@import "settings/mixins/_media.scss";
@import "settings/variables/_color.scss";

html{
  height: 100%;
  body{
    height: 100%;
    background-color: $light-color;
  }
}
.content{
  padding-top: $header-height;
  padding-left: $sidebar-width;
  @include max-screen($breakpoint-middle){
    padding-left: $sidebar-width-lg-middle;
  }
  @include max-screen($breakpoint-tablet){
    padding-left: $sidebar-width-tablet;
  }
  @include max-screen($breakpoint-mobile){
    padding-left: 0px;
    margin-bottom: $mobile-content-margin-bottom;
  }
}
