@import "settings/variables/_position.scss";
@import "settings/mixins/_media.scss";
@import "settings/variables/_color.scss";

html{
  height: 100%;
  body{
    height: 100%;
    color: $black;
  }
}
.content{
  margin-top: $header-height;
  margin-left: $sidebar-width;
  padding: 20px 40px;
  width: $content-width;
  background-color: $background-color;
  @include max-screen($breakpoint-middle){
    margin-left: $sidebar-width-lg-middle;
    width: $content-width-md;
  }
  @include max-screen($breakpoint-small){
    margin-left: 0;
    padding-left: $sidebar-width-small + 40px;
    width: 100%;
  }
  @include max-screen($breakpoint-tablet){
    padding-left: $sidebar-width-tablet;
  }
  @include max-screen($breakpoint-mobile){
    padding-left: 0px;
    margin-bottom: $mobile-content-margin-bottom;
  }
}
