@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
.header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  background-color: $base-color;
}
