@import "settings/variables/_variables.scss";
@import "settings/mixins/_position.scss";
@import "settings/mixins/_media.scss";

.header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding : 2px;
  background-color: $base-color;
  a{
    color: $white;
  }
  span.title{
    font-size: $header-fs;
    @include inline_center();
  }
  .header-contents{
    .header-buttons{
      padding-top: 5px;
      float: right;
      a{
        color: $white;
        margin-left: 40px;
      }
    }
    form{
      .input-group{
        width: 70%;
        .input-group-addon{
          width: 13px;
          background-color: $base-color;
          border-color: $base-color;
          transition: all 200ms ease;
        }
        input{
          background-color: $base-color;
          border-color: $base-color;
          border-right: 0px;
          transition: all 200ms ease;
          -webkit-box-shadow: inset 0 0px 0px rgba($black,.075);
          box-shadow: inset 0 0px 0px rgba($black,.075);
        }
        &.non-focus{
          &:hover{
            input{
              background-color: $white;
              border-color: $white;
              opacity: 0.4;
            }
            .input-group-addon{
              background-color: $white;
              border-color: $white;
              opacity: 0.4;
            }
          }
        }
        &.input-group-focus{
          .input-group-addon{
            background-color: $white;
            border-color: $white;
          }
          input{
            background-color: $white;
            border-color: $white;
          }
        }
      }
      .btn.btn-info{
        border-left: 0px;
        border-radius: 0 4px 4px 0;
        &.hide{
          display: none;
        }
      }
    }
    @include max-screen($breakpoint-mobile){
      display: none;
    }
  }
  .nav-button{
    visibility: hidden;
    @include max-screen($breakpoint-mobile){
      visibility: visible;
      float: left;
      font-size: $nav-button-fs;
      @include inline_center;
      margin-left: $nav-button-margin-right;
    }
  }
}
