@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
.header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding : 2px;
  background-color: $base-color;
  .header-contents{
    padding-top: 5px;
    float: right;
    a{
      color: $white;
      margin-left: 40px;
    }
  }
  form{
    position: relative;
    .btn.btn-info{
      position: absolute;
      float: right;
      right: 0;
      top: 0;
      z-index: 10;
    }
  }
}
