@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";
.login-header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding : 4px;
  background-color: $black;
  a{
    color: $white;

  }
  span.title{
    font-size: $header-fs;
    @include inline_center;
  }
  .ice-button{
    font-size: $login-header-ice-fs;
    padding: 4px;
    @include max-screen($breakpoint-mobile){
      font-size: $login-header-ice-fs-mb;
    }
  }
}
