@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
.login-header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding : 4px;
  background-color: #fff;
  a{

  }
  span.title{
    font-size: 32px;
    line-height: 1;
  }
  .ice-button{
    font-size: 14px;
    padding: 4px;
  }
}
