@import "settings/variables/_variables.scss";
@import "settings/mixins/_media.scss";
.nav-content{
  height: 0;
  position: fixed;
  top: $header-height;
  width: 100%;
  overflow: hidden;
  transition: all 200ms ease;
  ul.nav-list{
    .list-group-item{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
}
.nav-content-active{
  @include max-screen($breakpoint-mobile){
    height: 100%;
  }
}
