@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
@import "settings/mixins/_position.scss";


@media screen and (min-width: 0px) and (max-width: 640px) {
  .new-task-form{
    position: fixed;
    top: 0;
    background: rgba(100, 100, 100, 0.6);
    height: 100%;
    width: 100%;
    margin: 0px;
    left: 0;
    form{
      margin-top: 80px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: $white;
    }
  }
}
