@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
@import "settings/variables/_media.scss";
html{
  height: 100%;
  body{
    height: 100%;

    .sidebar{
      float: left;
      top: $header-height;
      position: fixed;
      width: $sidebar-width;
      background-color: $white;
      color: $black;
      height: 100%;
      padding-top: $sidebar-padding;
      box-shadow: -6px 0 12px -5px $shadow inset;
    }

    .side-content-col{
      width: 300px;
      margin-right: 0;
      margin-left: auto;
    }

    .side-content{
      margin-bottom: 30px;
    }

    .underbar{
      margin-right: 20px;
      border-bottom: solid;
      border-width: thin;
      border-color: $white;
    }

    ul{
      list-style: none;
      font-size: 18px;
      line-height: 200%;
      color: $white;
      box-sizing: border-box;
      text-indent: 1em;
    }

    a{
      color: $white;
    }

    li.current{
      background-color: $gley-2;
      border-right: solid;
      border-width: 1ex;
      border-color: $gley-2;
      box-shadow: 0 6px 6px -6px $gley-1, -6px 0 6px -6px $shadow, 0 -6px 6px -6px $shadow, -6px 6px 6px -6px $shadow, -6px -6px 6px -6px $shadow;
    }

    a.current{
      color: $base-color;
    }

    @media screen and (min-width: 0px) and (max-width: 640px) {
      .sidebar{
        display: none;
      }
    }
    @media screen and (min-width: 641px) and (max-width: 960px) {
      .sidebar{
        width: $sidebar-width-middle;
      }
    }
    @media screen and (min-width: 961px) and (max-width: 1400px) {
      .sidebar{
        width: $sidebar-width-lg-middle;
      }
    }
  }
}
