@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
@import "settings/variables/_media.scss";
html{
  height: 100%;
  body{
    height: 100%;

    .sidebar{
      float: left;
      top: $header-height;
      position: fixed;
      width: $sidebar-width;
      background-color: #FEFFFF;
      color: $black;
      height: 100%;
      padding: $sidebar-padding;
    }
    @media screen and (min-width: 0px) and (max-width: 640px) {
      .sidebar{
        display: none;
      }
    }
    @media screen and (min-width: 641px) and (max-width: 960px) {
      .sidebar{
        width: $sidebar-width-middle;
      }
    }
    @media screen and (min-width: 961px) and (max-width: 1400px) {
      .sidebar{
        width: $sidebar-width-lg-middle;
      }
    }
  }
}
