@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
.task-row{
  // border: $gley-2 solid 1px;
  // border: 1px $gley-1 solid;
  border-radius: 20px;
  height: $task-row-height;
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
  .task-content{
    position: relative;
    height: $done-button-area;
    font-size: 28px;
    .done-button{
      display: inline-block;
      position: absolute;
      float: left;
      left: 0;
      width: $done-button-size;
      height: $done-button-size;
      margin: $done-button-margin;
      border-radius: 100%;
      transition: background-color 0.2s ;
      background-color: $white;
      box-shadow: 0px 0px 10px #20ee20;
      a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .done-button:hover{
      background-color: #a0eea0;
    }
    .task-info{
      margin-left: $done-button-area;
      position: relative;
      height: $task-row-content;
      color: $black;
      .task-name{
        position: absolute;
        float: left;
        width: 100%;
        height: 100%;
        div{
          position: absolute;
          width: 100%;
          height: 100%;
          input{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
          }
        }
        .task-name-value{
          padding-left: 4px;
          line-height: $task-row-content;
        }
      }
    }
  }
  .deadline_at{
    position: absolute;
    float: right;
    right: 0;
    width: 16%;
    height: $task-row-height;
    padding: 0px 4px;
    .task-deadline_at-value{
      padding-left: 4px;
      text-align: right;
      line-height: $task-row-content;
    }
  }
  .progress{
    position: absolute;
    border-radius: 20px 0 0 20px;
    margin-bottom: 0;
    width: 84%;
    height: $task-row-height;
    background-color: transparent;
    .progress-bar{
      height: $task-row-height;
      position: relative;
      opacity: 0.6;
    }
  }
}

body{
  background: image-url("background.jpg");
  background-attachment: fixed;
  background-position: right bottom
}
// .task-content:before{
//   content: "";
//   z-index: -1;
//   -webkit-filter: blur(4px);
//   -ms-filter: blur(4px);
//   filter: blur(4px);
//   height: 100%;
//   width: 100%;
//   position: absolute;
// }
