@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";

.task-row{
  width: $task-row-width;
  height: $task-row-height;
  margin-bottom: $task-row-mb;
  background-color: $pure-white;
  box-shadow: 8px 8px 10px rgba($black,0.4);
  position: relative;
  .task-done{
    top: 0;
    left: 0;
    height: $task-done-size;
    width: $task-done-size;
    .task-done-view {
      position: absolute;
      top: 0;
      left: 0;
      border: 10px solid;
      box-shadow: 4px 3px 4px rgba($black,0.4);
      border-color: $gley-2 $white $white $gley-2;
      transition: border 200ms ease;
      transition-property: all;
    }
  }
  &:hover{
    .task-done-view{
      border: 20px solid;
      border-color: $gley-2 $white $white $gley-2;
    }
  }
  .task-info{
    @include center_beside_block();
    width: $task-row-width - $task-padding;
    height: 50px;
    padding-left: 20px;
    @include inline_center(50px);
    .task-name{
      font-size: 32px;
      color: $black;
    }
    @include max-screen($breakpoint-tablet){
      width: $task-row-w-t - $task-padding;
      input{
        width: 100%;
      }
    }
    @include max-screen($breakpoint-mobile){
      width: $task-row-w-m - $task-padding;
      height: 20px;
      padding-left: 20px;
      line-height: 20px;
      .task-name{
        font-size: 16px;
      }
    }
  }

  .deadline_at{
    @include center_beside_block();
    @include lower_gripping(18px);
    width: $task-row-width - $task-padding;
    height: 32px;
    @include inline_center(32px);
    font-size: 16px;
    text-align: right;
    color: $black;
    @include max-screen($breakpoint-tablet){
      width: $task-row-w-t - $task-padding;
    }
    @include max-screen($breakpoint-mobile){
      @include lower_gripping(18px);
      width: $task-row-w-m - $task-padding;
      height: 16px;
      @include inline_center(16px);
      font-size: 12px;
    }
  }
  .progress{
    @include lower_gripping(10px);
    @include center_beside_block();
    height: 8px;
    width: $task-row-width - $task-padding;
    @include none_border;
    .progress-bar{
      @include none_border;
    }
    @include max-screen($breakpoint-tablet){
      width: $task-row-w-t - $task-padding;
    }
    @include max-screen($breakpoint-mobile){
      width: $task-row-w-m - $task-padding;
    }
  }
  @include max-screen($breakpoint-tablet){
    width: $task-row-w-t;
  }
  @include max-screen($breakpoint-mobile){
    width: $task-row-w-m;
    height: $task-row-h-m;
    margin-bottom: 16px;
  }
}

.progress-bar-primary {
  background-color: $primary;
}
.progress-bar-danger {
  background-color: $danger;
}
.progress-bar-warning {
  background-color: $warning;
}
