@import "settings/variables/_color.scss";
@import "settings/variables/_position.scss";
.undo-modal{
  display: none;
  background: rgba($black, 0.9);
  position: fixed;
  height: 40px;
  bottom: 20px;
  margin-left: 100px;
  border-radius: 10px;
  line-height: 40px;
  padding: 0px 10px;
  span.message{
    color: $white;
    margin-right: 8px;
  }
  a.undo-link{
    color: $emphasis;
    margin-right: 8px;
  }
  span.modal-hide{
    color: $gley-1;
    cursor: pointer;
    &:hover{
      color: $gley-2;
    }
  }
}
