@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";

.ice-button{
  display: inline-block;
  margin-right: 2%;
  border: $ice-button-border solid $white;
  position: relative;
  text-align: center;
  padding: $ice-button-padding;
  font-size: $ice-button-fs;
  background-color: $white;
  color: $black;
  cursor: pointer;
  @include max-screen($breakpoint-mobile){
    font-size: $ice-button-fs-mb;
  }
  a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.ice-button.trans{
  color: $white;
  background-color: transparent;
  transition: background-color 400ms ease;
}
.ice-button.base-color{
  color: $white;
  background-color: $base-color;
  border: $ice-button-border solid $base-color;
}
.ice-button.sub-color{
  color: $white;
  background-color: $sub-color;
  border: $ice-button-border solid $sub-color;
}
.ice-button:hover{
  background-color: $white;
  color: $base-color;
}

// light-btn は現在使用していません
div.light-btn{
  display: inline-block;
  position: absolute;
  left: 0;
  width: $done-button-size;
  height: $done-button-size;
  margin: $done-button-margin;
  border-radius: 100%;
  transition: background-color 0.2s ;
  background-color: $white;
  @include box-shadow(0px, 0px, 10px, 0, #20ee20);
  button.light-btn{
    background: transparent;
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    outline: none;
  }
}

.light-btn:hover{
  background-color: #a0eea0;
}

.fa-button{
  color: $base-color
}

i.new-button{
  color: $base-color
}
.new-button-sp{
  cursor: pointer;
  display: none;
  @include max-screen($breakpoint-small){
    width: $new-button-sp-size;
    height: $new-button-sp-size;
    background-color: $sub-color;
    text-align: center;
    line-height: $new-button-sp-line-hight;
    border-radius: $circle-radius;
    display: block;
    right: $new-button-sp-right;
    bottom: $new-button-sp-bottom;
    position: fixed ;
    float: right;
    @include box-shadow(4px, 4px, 4px, 0, rgba($black, 0.4));
    transition: all 200ms ease;
    // i{
    //   transition: all 200ms ease;
    //   color: $white;
    // }
    &:hover{
      background-color: $sub-color;
      div.plus{
        transform: rotate(45deg);
      }
    }
  }
}
.new-button{
  @include max-screen($breakpoint-mobile){
    display: none;
  }
}

/*.btn{
  border-radius: 0px;
  &.btn-base{
    background-color: $base-color;
    color: $white;
  }
}*/

@mixin plus(){
  width: $new-button-sp-size/2 - 10;
  height: $new-button-sp-size/2 - 10;
  border: 3px $white solid;
  position: absolute;
}

.plus{
  width: $new-button-sp-size;
  height: $new-button-sp-size;
  transition: all 200ms ease;
  .up{
    width: $new-button-sp-size;
    height: $new-button-sp-size/2;
    padding-top: 10px;
    position: relative;
    .up-left{
      @include plus;
      border-left: 0px;
      border-top: 0px;
      left: 10px;
    }
    .up-right{
      @include plus;
      border-right: 0px;
      border-top: 0px;
      right: 10px;
    }
  }
  .down{
    width: $new-button-sp-size;
    height: $new-button-sp-size/2;
    padding-bottom: 10px;
    position: relative;
    .down-left{
      @include plus;
      border-left: 0px;
      border-bottom: 0px;
      left: 10px;
    }
    .down-right{
      @include plus;
      border-right: 0px;
      border-bottom: 0px;
      right: 10px;
    }
  }
}
