@import "settings/mixins/_mixins.scss";
@import "settings/variables/_variables.scss";

html{
  height: 100%;
  body{
    height: 100%;
    color: $black;
    background-color: $background-color;
  }
}
.content{
  margin-top: $header-height;
  margin-left: $sidebar-width-per;
  @include max-screen($breakpoint-content-margin-left-min){
    margin-left: $sidebar-width-min;
  }
  @include max-screen($breakpoint-mobile){
    margin-left: 0;
  }
}
.content-tasks{
  padding: 20px 40px;
  width: $content-width;
  background-color: $background-color;
  @include max-screen($breakpoint-middle){
    width: $content-width-md;
  }
  @include max-screen($breakpoint-small){
    width: 100%;
  }
  @include max-screen($breakpoint-tablet){
    width: 100%;
  }
  @include max-screen($breakpoint-mobile){
    padding-bottom: $mobile-content-margin-bottom;
  }
}
