@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";

.header{
  position: fixed;
  top: 0;
  height: $header-height;
  width: 100%;
  padding : 2px;
  background-color: $base-color;
  a{
    color: $white;
  }
  span.title{
    font-size: $header-fs;
    @include inline_center();
  }
  .header-contents{
    form{
      .input-group{
        width: 40%;
        color: $gley-1;
        transition: all 200ms ease;
        i.fa{
          position: absolute;
          font-size: 16px;
          left: 10px;
          z-index: 4;
          @include inline-center($header-height - 4)
        }
        input{
          padding-left: 40px;
          background-color: transparent;
          border-color: transparent;
          border-right: 0px;
          transition: all 200ms ease;
          border-radius: 0px;
          -webkit-box-shadow: inset 0 0px 0px rgba($black,.075);
          box-shadow: inset 0 0px 0px rgba($black,.075);
        }
        &.non-focus{
          &:hover{
            input{
              background-color: $white;
              border-color: $white;
              opacity: 0.4;
            }
          }
        }
        &.input-group-focus{
          width: 100%;
          input{
            background-color: $white;
            border-color: $white;
            border-radius: 4px;
          }
        }
      }
      .btn.btn-info{
        border-left: 0px;
        border-radius: 0 4px 4px 0;
        &.hide{
          display: none;
        }
      }
    }
    @include max-screen($breakpoint-mobile){
      display: none;
    }
  }
  .header-buttons{
    position: absolute;
    padding-top: 5px;
    float: right;
    right: 10px;
    top: 0;
    a{
      color: $white;
      margin-left: 40px;
    }
  }
  .nav-button{
    visibility: hidden;
    @include max-screen($breakpoint-mobile){
      visibility: visible;
      float: left;
      font-size: $nav-button-fs;
      @include inline_center;
      margin-left: $nav-button-margin-right;
    }
  }
}
