@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";
.notify-modal{
  display: none;
  background: rgba($black, 0.9);
  position: fixed;
  @include inline-center(40px);
  bottom: 20px;

  border-radius: 10px;
  padding: 0px 10px;

  margin-left: 100px;
  @include max-screen($breakpoint-middle){
    margin-left: 70px;
  }
  @include max-screen($breakpoint-small){
    margin-left: 50px;
  }
  @include max-screen($breakpoint-tablet){
    margin-left: 0px;
    bottom: 65px;
  }
  @include max-screen($breakpoint-mobile){
  }

  span.message{
    color: $white;
    margin-right: 8px;
  }
 .undo-link{
    color: $emphasis;
    margin-right: 8px;
    background-color: transparent;
    border: 0px;
    display: inline;
  }
  span.modal-hide{
    color: $gray-1;
    cursor: pointer;
    &:hover{
      color: $gray-2;
    }
  }
}
