@import "settings/variables/_variables.scss";
@import "settings/mixins/_mixins.scss";

.right-side{
  position: fixed;
  right: 0;
  top: $header-height;
  height: 100%;
  width: 100%;
  padding-left: calc(#{$sidebar-width-per} + #{$content-width});
  @include max-screen($breakpoint-middle){
    padding-left: calc(#{$sidebar-width-per} + #{$content-width-md});
  }
  @include max-screen($breakpoint-small){
    display: none;
    padding-left: $sidebar-width-per;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  @include max-screen($breakpoint-content-margin-left-min){
    padding-left: $sidebar-width-min;
  }
  @include max-screen($breakpoint-mobile){
    padding-left: 0;
  }
  .right-side-content{
    background-color: $sidebar-color;
    @include box-shadow-inset(6px, 0, 12px, -5px, $shadow);
    height: 100%;
    width: 100%;
    padding-top: $right-side-content-pt;
    padding-left: $right-side-content-pl;
    @include max-screen($breakpoint-small){
      background: rgba($black, 0.6);
      position: relative;
      padding: 0;
    }
  }
  &.active{
    display: block;
    @include max-screen($breakpoint-small){
      display: block;
    }
  }

  .events-manager{
    @include box-shadow-inset(1px, 1px, 8px, 1px, rgba($black, 0.5));
    width: $new-task-form-width;
    padding-left: $new-task-form-pl;
    padding-right: $new-task-form-pr;
    background-color: $background-color;
    margin-top: 20px;
    height: 50%;
    overflow: scroll;
    h3 {
      padding-top: 20px;
      margin-top: 0px;
      text-align: center;
    }
    ul.events-list{
      margin-top: 0px;
      padding-left: 0px;
      li{
        background-color: $gray-2;
        list-style-type: none;
        margin-bottom: 8px;
        padding: 8px 8px;
        @include box-shadow(1px, 1px, 8px, 1px, rgba($black, 0.5));
        .date{
          text-align: right;
          span.date{
            color: $gray-1;
            font-size: $task-row-deadline-fs;
          }
        }
        .summary{
          span.summary{
            font-size: 18px;
          }
        }
        .calendar{
          text-align: right;
          span.calendar{
            color: $gray-1;
          }
        }
      }
    }
  }
}
